html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

main {
	height: 100%;
}

section {
	overflow: hidden;
	padding: 50px;
}

.right {
	float: right;
}

.left {
	float: left;
}

header {
	height: 100%;
	background-color: #3498DB;
	padding: 50px;
}

.header-con {
	width: 50%;
	text-align: center;
}

.header-image {
	margin: 0 auto;
	display: block;
	width: 100%;
	position: relative;
}

.welcome-heading {
	color: #fff;
	line-height: 1.6em;
}


.team {
	height: auto;
	background-color: #E74C3C;
}

.column {
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.team-img {
	width: 50%;
	margin: 0 auto;
}

.team-heading {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
	margin: 20px auto 0;
}

.team-small-heading {
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin: 20px auto 0;
}

.team-subtext {
	font-size: 1em;
	color: #fff;
	margin: 20px auto 0;
}

.product {
	height: 100%;
	background-color: #049372;
}

.product-paragraph {
	font-size: 1.2em;
	color: #FFF;
	line-height: 1.6em;
	font-weight: 300;
	text-align: left;
}

.product-img {
	width: 80%;
	border-radius: 10%;
	height: auto;
}

footer {
	height: 100%;
	background-color: #22313F;
	overflow: hidden;
}

.footer-heading {
	color: #fff;
	text-align: center;
	font-size: 3.5em;
}

.footer-form {
	margin: 0 auto;
	width: 50%;
}

.input-field {
	display: block;
	width: 100%;
	margin: 20px 0 auto;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000;
	height: 40px;
	font-size: 1.5em;
	font-weight: 300;
}

.input-field:focus {
	outline: none;
	color: #95A5A6;
}

.btn-submit {
	width: 50%;
	margin: 0 auto;
	display: block;
	background-color: #95A5A6;
	border: none;
	margin-top: 20px;
	height: auto;
	padding: 15px 0;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
}

.btn-submit:hover {
	color: #000;
	
}