@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro';
}

.nav {
	background: #fff;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 9999;
}

.nav-list {
	list-style: none;
	height: 100%;
	margin: 0 auto;
	margin-right: 60px;
	float: right;s
}

.nav-list-item {
	display: inline-block;
	margin-left: 30px;
	margin-top: 25px;
}

.nav-list-anchor {
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
	font-weight: 300;
}

main {
	height: 100%;
}

section {
	overflow: hidden;
	padding: 50px;
}

.right {
	float: right;
}

.left {
	float: left;
}

header {
	height: 100%;
	background-color: #3498DB;
	padding: 50px;
}

.header-con {
	width: 50%;
	text-align: center;
}

.header-image {
	margin: 0 auto;
	display: block;
	width: 100%;
	position: relative;
}

.welcome-heading {
	color: #fff;
	line-height: 1.6em;
	font-weight: 300;
}

.team {
	height: auto;
	background-color: #E74C3C;
}

.team-con {
	margin-top: 100px;
}

.column {
	height: 100%;
	width: 100%;
	text-align: center;
}

.team-img {
	width: 50%;
	margin: 0 auto;
}

.team-heading {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
	margin: 20px auto 0;
	font-weight: 300;
}

.team-small-heading {
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin: 20px auto 0;
	font-weight: 300;
}

.team-subtext {
	font-size: 1em;
	color: #fff;
	margin: 20px auto 0;
	font-weight: 300;
}

.product {
	height: 100%;
	background-color: #049372;
}

.product-con {
	display: table;
}

.product-paragraph {
	color: #FFF;
	line-height: 1.6em;
	font-weight: 300;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

.product-img {
	width: 80%;
	border-radius: 10%;
	height: auto;
	margin-top: 50px;
}

footer {
	height: 100%;
	background-color: #22313F;
	overflow: hidden;
}

.footer-heading {
	color: #fff;
	text-align: center;
	font-size: 3.5em;
	font-weight: 300;
	margin-top: 50px;
}

.footer-form {
	margin: 0 auto;
	width: 50%;
	margin-top: 70px;
}

.input-field {
	display: block;
	width: 100%;
	margin: 20px 0 auto;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	height: 40px;
	font-size: 1.5em;
	font-weight: 300;
}

.input-field:focus {
	outline: none;
	color: #95A5A6;
}

.btn-submit {
	width: 50%;
	margin: 0 auto;
	display: block;
	float: right;
	background-color: #95A5A6;
	border: none;
	margin-top: 20px;
	height: auto;
	padding: 15px 0;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
}

.btn-submit:hover {
	color: #000;
	
}